<%
courses_name = 'Python'
course_icon = 'fab fa-python'

course_anchor_id = "#{courses_name.downcase}-training"
courses = [
    'python-101',
    'python-102',
    'python-testing-app',
    'python-distributing-packages',
    'python-version-management',
    'python-development-env',
]
%>
<section class="section has-white-background training<%= zebra %>">
    <div class="container">

        <%= partial "partials/courses", :locals => { 
            :course_anchor_id => course_anchor_id,
            :courses_name => courses_name,
            :course_icon => course_icon,
            :courses => courses,
        } %>

    </div>
</section>
