html { font-size: $main-font-size; }

@each $index, $size in (1: 3.4, 2: 3.2, 3: 3, 4: 2.82) {
  .display-#{$index} {
    font-size: #{$size}rem;
  }
}

body { color: $webbox-color; }
strong { color: darken($webbox-color, 8); }
.lead { font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
  color: $webbox-color;
}

#logo {
  width: 40%;
  height: auto;
}

.jumbotron-vb {
  background-image: url('/public/images/background-image.jpg');
  background-size: cover;
  color: white;
  a, h1, img {
    color: inherit;
    -webkit-filter: drop-shadow(1px 1px 3px #000);
  }
  a:hover { color: #ddd; }
}

.list-group-vb {
  a {
    font-weight: 600;
    text-decoration: underline;
  }
  margin-bottom: 2rem;
  li {
    &:first-child,
    &:last-child {
      border-radius: 0;
    }
  }
  .label-pill {
    margin-left: .2rem;
    margin-top: .26rem;
  }
}

.label-primary-vb {
  background-color: $webbox-color;
}

#footer {
  background-color: $webbox-color;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#footer-icons a {
  color: inherit;
  margin-left: 0rem;
  margin-right: 1rem;
  &:hover { color: lighten($webbox-color, 15); }
}

.margin-y-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
