<% 
title = "Building Command-Line Apps with Bash"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>

<p class="is-size-4">
    You can build almost anything with Bash. From small tools to complicated
    apps, even a web server!
</p>
<ul>
    <li>Parsing command-line arguments</li>
    <li>Errors and exceptions in Bash way</li>
    <li>Linting and checking shell code</li>
    <li>Testing bash scripts, TDD is everywhere</li>
    <li>Adding bash-comletion and localization</li>
    <li>Adding man page for your bash tool</li>
    <li>How to create <a href="https://brew.sh" class="is-external-link">brew</a> packages</li>
    <li>Distributing your app with <code>homebrew</code></li>
</ul>
