<% 
title = "İleri Seviye Django"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Django&rsquo;nun derinliklerine iniyoruz!
</p>
<ul>
    <li><strong>Class-based views</strong>&rsquo;a detaylı bakış</li>
    <li><strong>Multi-table inheritance</strong> nedir?</li>
    <li><strong>Proxy model</strong> nedir?</li>
    <li><strong>Polymorphic relation</strong> nedir?</li>
    <li><strong>Generic relation</strong> nedir?</li>
    <li>Özelleştirilmiş <strong>Manager</strong>&rsquo;lar ve <strong>Queryset</strong>&rsquo;ler</li>
    <li>Sorgularda performans optimizasyonu</li>
    <li><strong>View</strong> ya da <strong>shell</strong> katmanında debug nasıl yapılır?</li>
    <li><strong>Mixin</strong>&rsquo;lere detaylı bakış</li>
    <li><strong>Data migration</strong> nedir? Ön tanımlı veri aktarımı</li>
    <li>Özelleştirilmiş <strong>migration</strong> nasıl yapılır?</li>
    <li>Django ile gelen <strong>Signal</strong>&rsquo;ler</li>
    <li>Özelleştirilmiş <strong>Signal</strong> nasıl yapılır?</li>
    <li>Kendi <code>User</code> modelimizi yapalım!</li>
    <li><strong>I18N</strong> ve <strong>Timezone-aware</strong> olmak</li>
    <li>İzinler (<code>permissions</code>)</li>
    <li><strong>PostgreSQL</strong>&rsquo;le özel fonksiyonlar</li>
    <li>Django Admin özelleştirmeleri: Formlar ve Widget&rsquo;lar</li>
    <li><strong>Management Command</strong> nedir? Nasıl yazılır?</li>
    <li>Özelleştirilmiş <strong>template tag</strong>&rsquo;ler ve filtreler</li>
    <li>Django class&rsquo;larını doğru şekilde ezmek</li>
    <li>Admin&rsquo;e özel view&rsquo;ları geliştirmek ve test etmek</li>
    <li>Özel test kütüphaneleri, mock&rsquo;lama ve <code>vcrpy</code></li>
    <li>Peki ya <strong>Caching</strong>?</li>
    <li>Özelleştirilmiş loglama, log&rsquo;u format etmek</li>
</ul>
