<% 
title = "Django ve Test"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    <strong>T</strong>est <strong>D</strong>riven <strong>D</strong>evelopment
    ya da testle yürüyen geliştirme!
</p>
<ul>
    <li>Testleri nasıl tasarlamalı</li>
    <li>Hangi ilave kütüphaneler kullanılmalı</li>
    <li>Test için otomasyon (<em>pipeline</em>)</li>
    <li>Neyi test etmeli? nereyi <strong>mock</strong>&rsquo;lamalı?</li>
    <li>Unit test mi? Integration test mi?</li>
    <li>Testlerin devamlılığını nasıl sağlarız?</li>
    <li>Testleri nasıl hızlandırabiliriz?</li>
</ul>
