<% 
title = "Django Admin&rsquo;i Hacklemek"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Django, içinde harika özellikleri olan bir Admin panel ile birlikte geliyor.
    Haydi gelin özelleştirelim!
</p>
<ul>
    <li>Django&rsquo;nun son versiyonu ile gelen özelliklere bakış</li>
    <li>Özelleştirilmiş <strong>autocomplete</strong> view&rsquo;leri</li>
    <li><code>django.contrib.admin</code> paketinin detayları</li>
    <li>Özelleştirilmiş <code>BaseModelAdmin</code> yapalım</li>
    <li>Permission/Group bazlı admin view&rsquo;lar</li>
    <li>Permission/Group bazlı admin form&rsquo;lar</li>
    <li>Sahte alanları olan admin formlar</li>
    <li>Özelleştirilmiş <strong>Inline</strong> formset&rsquo;ler</li>
    <li>Calculated field&rsquo;larla çalışmak</li>
    <li>Özelleştirilmiş admin filtreleri</li>
    <li>Admin view&rsquo;larını ezmek, ilave öğeler yerleştirmek</li>
    <li><strong>Dashboard view</strong> yapalım!</li>
    <li><strong>Soft deletion</strong> nedir?</li>
    <li>Admin panelde büyük veritabanlarını kullanmak</li>
    <li>Django ile gelen <strong>Admin Widget</strong>&rsquo;ları kullanmak</li>
    <li>Admin panele özelleştirilmiş <strong>JavaScript</strong> takmak</li>
</ul>
