<% 
title = "Django Modelleri"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Django modeli nasıl tasarlanmalı? Nasıl planlanmalı? Nasıl kodlanmalı?
</p>
<ul>
    <li>İlişkiler nasıl tasarlanmalı</li>
    <li>Önce sorgular hesaplanmalı, planlanmalı</li>
    <li>Sorguları nasıl ölçeriz?</li>
    <li>Sorgu çalıştırma planı nedir?</li>
    <li><code>ManyToMany</code> mi? yoksa <code>ManyToMany.through</code> mu? faydası, zararı?</li>
    <li>Veritabanı <strong>indeksi</strong>&rsquo;i ve <strong>kısıtlar</strong> nelerdir?</li>
    <li>Hangisi daha önemli: veritabanının ölçüsü mü? sorguların hızı mı?</li>
    <li>Sorguların izlenmesi, gereken verinin çekilmesi ve işlenmesi</li>
    <li>3. parti yardımcı ölçüm araçları</li>
    <li>Template ve Admin seviyesinde ufak tefek performans ipuçları</li>
</ul>
