<% 
title = "Django Rest Framework 101"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Uygulamamızı geliştirdik, artık tek eksiğimiz <strong>RESTful</strong>
    bir API sunucusu! 
</p>
<ul>
    <li><strong>REST</strong> nedir? ne anlama gelir?</li>
    <li><strong>Serialization</strong> nedir?</li>
    <li>Django modellerini serialize etmek</li>
    <li><strong>CRUD</strong> nedir? Temek CRUD operasyonları</li>
    <li>Sorgulama, sayfalama</li>
    <li>Güvenlik ve yetkiler</li>
    <li>URL routing</li>
    <li>İlişkili modeller, iç-içe geçmiş modeller</li>
    <li><strong>Token</strong> ile authentication</li>
    <li>Yük dengeleme, limitleme, dar boğaz tanımlamaları</li>
    <li>API nasıl test edilir?</li>
    <li><strong>Postman</strong>&rsquo;e merhaba!</li>
</ul>
