<% 
title = "Django ve Authentication"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Bazen kullanıcıları başka bir servisten doğrulamak ya da içeri almak
    gerekebilir. Mesela <strong>LDAP</strong>!
</p>
<ul>
    <li>Django ile birlikte gelen <strong>authentication</strong> mekanizmaları</li>
    <li>Özelleştirilmiş <strong>authentication backend</strong> yazalım</li>
    <li><strong>Remote User</strong> nedir?</li>
    <li><strong>LDAP</strong> gibi 3. parti servis sağlayıcıları ile entegre olmak</li>
    <li>Peki <strong>social auth</strong>? Twitter, Facebook, GitHub gibi kanalları kullanmak</li>
    <li><strong>Token</strong> ile authentication nedir? </li>
</ul>
