<% 
title = "Django 101"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Django kütüphanesi kullanarak çok hızlı bir şekilde web uygulaması
    geliştirebilirsiniz!
</p>
<ul>
    <li>Django geliştirme ortamının kurulması</li>
    <li>Django projesi nedir? Django uygulaması nedir?</li>
    <li>Django proje yapısı nasıl olmalı?</li>
    <li>Ortamların izole edilmesi: test, staging ve production</li>
    <li><strong>Model</strong> nedir?</li>
    <li><strong>Migration</strong> nedir?</li>
    <li><strong>Django ORM</strong> nedir?</li>
    <li><strong>Django shell</strong> nedir?</li>
    <li>Model-Template-View (<strong>MTV</strong>) yaklaşımı</li>
    <li>Routing ve URL dispatcher</li>
    <li>Django ile birlikte gelen yardımcı araçlar</li>
    <li>Django&rsquo;nun içinden çıkan fonksiyonlar, modeller ve yardımcılar</li>
    <li><strong>Django Admin</strong> nedir?</li>
    <li><strong>Authorization</strong> ve <strong>Authentication</strong>&rsquo;a giriş</li>
    <li><strong>Function-based views</strong> nedir?</li>
    <li><strong>Class-based views</strong> nedir?</li>
    <li>İsviçre çakısı: <strong>Django Debug Toolbar</strong> ve <strong>Django Extensions</strong></li>
    <li><a class="is-external-link" href="https://heroku.com">Heroku</a> platformunu nasıl kullanırız?</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>
        GitHub&rsquo;ın bize sunduğu <a class="is-external-link"
        href="https://gist.github.com/">Gist</a> gibi bir uygulama
        geliştiriyoruz!
    </li>
    <li>
        Markdown parser, syntax highlighter gibi ek özellikler de ekliyoruz!
    </li>
</ul>
