<% 
title = "Django Class-based View&rsquo;lar"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Django uygulamasını <strong>Class-based</strong> View yapısı üzerine kurgulamak ve
    çalıştırmak!
</p>
<ul>
    <li>Mixin ve <strong>MRO</strong> kavramları</li>
    <li><strong>Generic Views</strong>&rsquo;a giriş</li>
    <li>View&rsquo;lar ve MRO&rsquo;larına detaylı bakış</li>
    <li>Farklı view&rsquo;lardan karma view&rsquo;lar üretmek</li>
    <li>Dekoratör nedir? nasıl kullanılır?</li>
    <li>Veri doğrulama mekanizmaları</li>
    <li><strong>Ajax</strong> ve <strong>Class-Based View</strong> kullanımı</li>
</ul>
