<% 
title = "Django Pratikleri"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Performans sorunlarını, doğru ve yanlışları irdeliyoruz!
</p>
<ul>
    <li>Ortamların ayrıştığı, daha iyi bir proje yapısı: test, development, production ayrımı</li>
    <li><strong>Fat Model</strong> - <strong>Skinny Controller</strong> nedir?</li>
    <li>ORM performans pratikleri, özel sorgu fonksiyonları, mesela <code>Prefetch()</code> ve dahası</li>
    <li>Model, View ve ORM&rsquo;lerle ilgili özenle seçilmiş ipuçları</li>
    <li>Veritabanı <strong>transactions</strong> ve <strong>race-condition</strong> önleme</li>
    <li>Query Expressions: <code>F()</code>, <code>Func()</code>, <code>Value()</code> ve küme fonksiyonları</li>
    <li><code>Subquery()</code> ve <code>annotation()</code> fonksiyonları</li>
    <li>Özelleştirilmiş aramalar: <code>field__my_lookup=1</code></li>
    <li>Hacimli operasyonlar (<strong>bulk</strong>) neler?</li>
    <li>Özel metin arama, arama vektörleri ve dahası</li>
    <li>Migration&rsquo;ların optimize edilmesi, sadeleştirilmesi</li>
    <li>PostgreSQL eklentileri</li>
    <li>Özel arama filtreleri</li>
    <li>Daha iyi ve hızlı test yazmak</li>
    <li>Django formları ve admin paneli özelleştirmek</li>
</ul>
