<% 
title = "Hands on gRPC and Protocol Buffers 101"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>
<p class="is-size-4">
    Are you ready to dive right in to Google&rsquo;s other gem ? Protocol
    buffers aka <strong>protobuf</strong> is the fastest and solid way of
    microservice communication.
</p>

<ul>
    <li>Whats is protobuf ?</li>
    <li>Protocol naming conventions and coding style</li>
    <li>What are the basics of scalar types ?</li>
    <li>Tags, repeated fields, default field values</li>
    <li>Enumerations and nesting</li>
    <li>Rename or remove field</li>
    <li>Build protobuf for golang</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>Connect Rest API with microservice over gRPC</li>
</ul>
