<% 
title = "Building Rest API with Golang"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>
<p class="is-size-4">
    Are you ready to build your first API with golang&rsquo;s standard
    library? No external packages just pure built-in functions and libraries!
</p>

<ul>
    <li>How to handle URLs ?</li>
    <li>What is middleware ?</li>
    <li>How to communicate with database ?</li>
    <li>Request / Response headers</li>
    <li>Can we implement any kind of authentication ?</li>
    <li>Serving JSON or XML ?</li>
    <li>Logging ?</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>We&rsquo;ll build a basic blog backend as REST API</li>
</ul>
