<% 
title = "gRPC ve Protocol Buffers Pratikleri"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Google&rsquo;ın bize armağan ettiği <strong>gRPC</strong> ve <strong>Protocol Buffer</strong>
    ile tanışmaya hazır mısınız?
</p>
<ul>
    <li>gRPC nedir? Diğer protokollere göre artıları ve eksileri</li>
    <li>Protocol Buffer <code>protobuf</code> nedir?</li>
    <li>Protobuf isimlendirme ve tanımlama kuralları</li>
    <li>Protobuf tipleri nelerdir?</li>
    <li>Tag, Repeated Fields ve Default değerler nasıl tanımlanır?</li>
    <li>Field ekleme, isim değiştirme ya da silme</li>
    <li>Otomatik go kodu nasıl üretiriz?</li>
    <li>Unary, Client stream, Server stream ve Bi-directional iletişim</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>
        Komut satırından çalışan basit bir chat uygulaması geliştireceğiz!
    </li>
</ul>
