<% 
title = "Golang 101"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">Google tarafından açık-kaynak olarak sunulan Golang programlama diline giriş...</p>
<ul>
    <li>Bir go programının anatomisi: <code>main.go</code></li>
    <li>Kodlama kuralları ve standartlarının temelleri</li>
    <li>Paket kavramı, private/public erişim mantığı</li>
    <li>Değişkenler ve atamalar</li>
    <li><strong>Pointer</strong> nedir? referans nedir?</li>
    <li>Nesne tipini tanıma (<em>type assertion</em>) ve <em>reflection</em></li>
    <li>Standart veri tipleri: <code>int</code> ailesi, <code>string</code>, <code>array</code>, <code>map</code></li>
    <li>Fonksiyon tanımlama, argümanlar ve geri dönüş tipleri</li>
    <li>Koşullar ve döngüler</li>
    <li><code>struct</code> tipi nedir?</li>
    <li><code>struct</code> metodu nedir?</li>
    <li><code>interface</code> nedir?</li>
    <li>Error tipi nedir? <code>panic()</code> nedir? hata kurtarma (<em>recover</em>) nedir?</li>
</ul>
<h5 class="mt-2-desktop">Uygulama</h5>
<ul>
    <li>Standart kütüphane: <code>io</code> paketi örnekleri</li>
    <li>Standart kütüphane: <code>net/http</code> paketi örnekleri</li>
</ul>
