<% 
title = "Golang ile REST API Geliştirmek"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>

<p class="is-size-4">
    Go&rsquo;nun standart kütüphanesini kullanarak ilk API&rsquo;nızı geliştirmeye
    hazır mısınız?
</p>
<ul>
    <li><code>http.Server</code> paketine merhaba!</li>
    <li><strong>Request</strong> ve <strong>Response</strong> nedir?</li>
    <li><strong>URL routing</strong> nedir? <strong>Multiplexer</strong> nedir?</li>
    <li><strong>Middleware</strong> nedir?</li>
    <li>Request ve Response header&rsquo;ları ne işe yarar?</li>
    <li>Acaba <strong>authentication</strong> seçeneklerimiz neler?</li>
    <li><code>JSON</code>, <code>XML</code> ya da <code>TEXT</code> sunabilir miyiz?</li>
    <li>Veritabanı ile nasıl iletişim kurarız?</li>
    <li>Sunucu loglama nasıl yapılır?</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>Basit bir <strong>TODO</strong> rest-api geliştireceğiz!</li>
</ul>
