<% 
title = "Golang 102"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>

<p class="is-size-4">
    Go uygulamaları oluşturmak için daha ileri seviye konulara odaklanacağız.
</p>
<ul>
    <li><strong>go tool chain</strong> nedir?</li>
    <li>Kodu otomatik olarak düzeltmek, formatlamak ve derlenmeden önce kontrol etmek</li>
    <li><code>interface</code> neden davranışı tanımlar?</li>
    <li>interface metodlarını ve davranışlarını tatmin etmek</li>
    <li>Go paketleri/modülleri oluşturmak ve test etmek</li>
    <li><code>godoc</code> nedir? detaylı paket dokümantasyonu ve örnekleri hazırlamak</li>
    <li>Prezantasyon araçları ile <strong>gopher</strong> gibi sunum hazırlayın!</li>
    <li><strong>Goroutine</strong>&rsquo;ler nedir?</li>
    <li><strong>Channel</strong>&rsquo;lar nedir? ne işe yarar?</li>
    <li>Testleri, örnekleri ve performans ölçümleri hazırlamak</li>
    <li>Hafıza kaçaklarını nasıl tespit ederiz? <strong>memory leaks</strong> ve <strong>race conditions</strong></li>
    <li>3. parti kütüphaneleri kullanırken nasıl test yazmak gerekir?</li>
    <li>Gündelik hayatta işimize yarayacak faydalı kütüphaneler</li>
</ul>
<h5 class="mt-2-desktop">Uygulama</h5>
<ul>
    <li>
        Komut satırından çalışan bir http istemcisi hazırlayacağız
    </li>
</ul>
