<% 
title = "Git 101"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Komut satırından gündelik hayatta <code>git</code> kullanımı!
</p>
<ul>
    <li>Yaygın işletim sistemlerine <code>git</code>nasıl kurulur?</li>
    <li><code>git</code> konfigürasyonu nedir?</li>
    <li><strong>Repository</strong> nedir?</li>
    <li><code>Commit</code> nedir?</li>
    <li>Dosyalarla çalışmak, değişiklik yapmak ve revizyonalı takip etmek</li>
    <li>Bazı dosya tiplerinin izolasyonu</li>
    <li><code>Branch</code> nedir?</li>
    <li><code>Merge</code> nedir? Kaç tür merge stratejisi bulunur?</li>
    <li><strong>Conflict</strong> nedir? nasıl çözülür?</li>
    <li><code>Stash</code>, <code>Tag</code> nedir?</li>
    <li><code>Undo</code>, <code>reset</code>, <code>amend</code> ve <code>revert</code> özellikleri</li>
    <li><code>git aliases</code> nedir?</li>
    <li>Konfigürasyon içinde <code>bash</code> komutu çağırmak!</li>
    <li>Log işlemleri, dosya aramak, mesajlar ve dahası...</li>
    <li><code>git</code>,, <strong>90</strong> gün boyunca hiçbir şeyi silmez!</li>
    <li><strong>Remote</strong> nedir? Remote&rsquo;larla çalışmak</li>
    <li>Git platformları: GitHub, Gitlab ve Bitbucket</li>
</ul>
