<% 
title = "İleri Seviye Git"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    git&rsquo;in sihirli dünyasına derinlemesine giriş!
</p>
<ul>
    <li>Konfigürasyon dosyasını orta seviyede incelemek</li>
    <li>Dosyaları sıkıştırmak</li>
    <li><strong>merge commit</strong> nedir?</li>
    <li><strong>bundling</strong> nedir?</li>
    <li>Repo&rsquo;nın sığ kopyası</li>
    <li>Etkileşimli ekleme, yama ve <strong>rebasing</strong></li>
    <li>Stash nasıl çalışır? Daha iyi stash için ipuçları</li>
    <li>Stash ve Rebase çakışmalarını çözmek</li>
    <li>İstediğiniz bir commit&rsquo;i seçin</li>
    <li>Komut satırından revizyonları gezin</li>
    <li>Detaylı <code>diff</code> operasyonları</li>
    <li>Commit&rsquo;leri ayırmak ya da birleştirmek</li>
    <li>Commit&rsquo;lerin sırasını değiştirmek</li>
    <li><code>bisect</code> ile hata ayıklama</li>
    <li>Repo genelinde herhangi ya da tüm commit&rsquo;leri değiştirmek</li>
    <li>Commit&rsquo;lerinizi ve tag&rsquo;lerinisi GPG ile imzalayın</li>
    <li><strong>Commit annotation</strong> nedir? Notlara nasıl bakılır?</li>
    <li>Yamalama reçeteleri</li>
    <li>Reflog ve <strong>garbage collection</strong></li>
    <li><code>tig</code> komut satırı yardımcı aracı</li>
    <li>Kendi git eklentinizi yapın! Örnek: <a href="https://github.com/vigo/kommit" class="is-external-link">Kommit</a></li>
    <li><code>git-hooks</code> nedir?</li>
    <li>En iyi pratikler, git ile geliştirme metodolojileri</li>
</ul>
