<% 
title = "Sinatra ve Active Record"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    ORM&rsquo;lerin belkide en iyisi Active Record&rsquo;un Sinatra ile
    entegrasyonu
</p>
<ul>
    <li><strong>ORM</strong> nedir?</li>
    <li>Active Record&rsquo;a giriş, kurallar neler?</li>
    <li><strong>Schema</strong> nedir?</li>
    <li><strong>Model</strong> nedir?</li>
    <li><strong>Migration</strong> nedir?</li>
    <li>Veri doğrulama</li>
    <li>Veritabanı ve Sinatra bağlantısı</li>
    <li>Active Record ile ilgili  Rake task&rsquo;ler</li>
    <li><strong>Fat Model</strong> - <strong>Skinny Controller</strong> kavramı</li>
    <li>Veritabanında sorgulama</li>
    <li>Active Record ile CRUD</li>
    <li>İlişkili modeller, ilişkili sorgular</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>Blog uygulaması geliştirip <a class="is-external-link" href="https://heroku.com">Heroku</a>&rsquo;ya deploy edeceğiz.</li>
</ul>
