<% 
title = "<code>Makefile</code> değil <code>Rakefile</code>!"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Gündelik rutin işlerinizi otomatize edebileceğiniz gibi, pek çok
    işi Ruby kodu yazarak yönetebilirsiniz!
</p>
<ul>
    <li>Saygılarımızla <a href="https://github.com/jimweirich" class="is-external-link">Jim Weirich</a></li>
    <li>Rakefile&rsquo;ın anatomisi, <strong>DSL</strong> nedir?</li>
    <li><strong>Task</strong> nedir?</li>
    <li>Basit task&rsquo;ler</li>
    <li>Parametre alan task&rsquo;ler</li>
    <li><strong>Namespace</strong> nedir?</li>
    <li><strong>Multi tasks</strong> nedir?</li>
    <li><strong>Rules</strong> nedir?</li>
    <li>Bütünleşik gelen task&rsquo;ler</li>
    <li><code>File</code>, <code>FileList</code> ve <code>Directory</code> özellikleri</li>
    <li>Global / local task&rsquo;ler</li>
    <li>3. parti eklentiler</li>
    <li>Gerçek hayat örnekleri</li>
</ul>
