<% 
title = "Ruby ve Test (TDD) 101"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Ruby, <strong>test-first programming language</strong> yani öncelikle
    test yazmanın önemli olduğu bir dildir.
</p>
    <li>Teste giriş, testin önemi</li>
    <li>Tümleşik gelen yardımcı test araçları</li>
    <li>Test türleri neler?</li>
    <li><strong>Mocking</strong>, <strong>stubbing</strong> ve <strong>test doubles</strong> kavramları</li>
    <li>Genel bakış: <strong>Minitest</strong> test kütüphanesi</li>
    <li>Genel bakış: <strong>Rspec</strong> test kütüphanesi</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>
        Yer imlerini kaydeden bir komut-satırı uygulaması yapacağız!
    </li>
</ul>
