<% 
title = "Ruby Paketi (gem) Geliştirmek"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Rubygems içinde bir kısım kod, araç, kütüphane hatta <strong>framework</strong>
    barındıran ruby paketleridir.
</p>
<ul>
    <li><strong>Bundler</strong> nedir?</li>
    <li>Bundler ile <code>gem</code> şablonu oluşturmak</li>
    <li>Manifest dosyası, revizyonlar ve release&rsquo;lerin yönetilmesi</li>
    <li>Geliştirme modu için paket bağımlılıkları</li>
    <li>Genişletilebilir gem geliştirmek</li>
    <li>Paketinizi Rubygems&rsquo;e göndermek</li>
    <li>Özel repo&rsquo;lardan paketi sunmak</li>
</ul>
