<% 
title = "Bir Rack Uygulaması Geliştirmek"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Rack ile Ruby uygulaması geliştirmek!
</p>
<ul>
    <li>Http&rsquo;yi anlamak</li>
    <li><strong>Rack</strong> nedir? nasıl çalışır?</li>
    <li><strong>Rack Middleware</strong> nedir?</li>
    <li>Rack&rsquo;in katmanları nelerdir?</li>
    <li>Http istekleri nasıl korunur?</li>
    <li>Http metodlarını işlemek</li>
    <li>Rack için eklenti geliştirelim</li>
    <li>Rack uygulamasını nasıl deploy ederiz?</li>
</ul>
<h5 class="mt-2-desktop">Uygulama</h5>
<ul>
    <li>Ziyaretçi defteri uygulaması geliştiriyoruz</li>
</ul>
