<% 
title = "Middleman ile Statik Web Uygulaması"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Neticede her web uygulaması geriye HTML çıktı üretmez mi? Haydi o zaman
    gelin bir sürü html dosyası üretelim!
</p>
<ul>
    <li>Statik sayfa nedir?</li>
    <li><strong>Middleman</strong> nedir?</li>
    <li>Tümleşik gelen elementler neler?</li>
    <li>Templating, template helpers ve renderers kavramları</li>
    <li><strong>Assets pipeline</strong> nedir?</li>
    <li>Veri otomasyonu</li>
    <li>Çoklu dil desteği</li>
    <li>3. parti servislerle entegrasyon</li>
    <li><strong>GitHub Pages</strong>&rsquo; uygulamayı deploy edelim!</li>
</ul>
<h5 class="mt-2-desktop">Uygulama</h5>
<ul>
    <li>Basit bir elektronik ticaret uygulaması yapacağız</li>
</ul>
