<% 
title = "Ruby 101"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>

<div class="box">
    <div class="video-responsive">
        <iframe src="https://player.vimeo.com/video/523391391?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Ruby 101 Demo"></iframe>
    </div>
</div>

<p class="is-size-4">
    Diğer pek çok programlama diline kıyasla, <strong>Ruby</strong>, öğrenmesi belkide en kolay
    olan programlama dilidir.
</p>
<ul>
    <li>Ruby nasıl çalışır?</li>
    <li>Ruby söz dizimi: syntax&rsquo;ı</li>
    <li>Etkileşimli REPL: <code>irb</code></li>
    <li>Ön tanımlı değişkenler, değişkenler ve sahte değişkenler</li>
    <li>Operatörler ve sabitler</li>
    <li>Metod, <code>blocks</code>,<code> proc</code> ve lambda kavramları</li>
    <li>Durumlar ve kontrol ifadeleri</li>
    <li>Sayılabilirler, yinelenebilirler, döngüler ve dahası...</li>
    <li>Tümleşik gelen veri tipleri</li>
    <li>Nesne yönelimli Ruby: <code>Class</code> ve <code>Modules</code></li>
    <li>Exception kavramı ve yönetimi</li>
    <li><strong>File system</strong>, <strong>IO</strong> ve <strong>Kernel module</strong>&rsquo;a hızlı bakış</li>
    <li>Rubygems nedir?</li>
</ul>
