<% 
title = "Sinatra 101"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>
<p class="is-size-4">
    You can build ruby apps in minutes. From basic apps to complex database apps
    <strong>Sinatra</strong> is the most famous light-weight web framework!
</p>
<ul>
    <li>More than Rack, less then Rails &dash; <a href="http://danbenjamin.com/" class="is-external-link">Den Benjamin</a></li>
    <li>Sinatra&rsquo;s DSL structure</li>
    <li>Handlers and HTTP methods</li>
    <li>URL Params, splat, regex and conditional matchers</li>
    <li>ERB and Views</li>
    <li>What is layout ?</li>
    <li>Static files such as images, JavaScript and CSS files</li>
    <li>Easy integration of almost any kind of file type such as <strong>Sass</strong>, <strong>Markdown</strong></li>
    <li>What are filters and helper ?</li>
    <li>Making custom filters and custom helpers</li>
    <li>Handling, canceling, redirecting, passing or raising errors on http requests</li>
    <li>Environment isolation: testing, development or production</li>
    <li>Manage sessions</li>
    <li>Testing Sinatra apps</li>
    <li>One file app or structured app ?</li>
    <li>Deploy basic Sinatra app to Heroku</li>
</ul>
