<% 
title = "Sinatra and Active Record"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>

<p class="is-size-4">
    Active Record is the most common/famous object relational 
    mapping library aka <strong>ORM</strong> for <strong>Ruby on Rails</strong>.
    We can use it with <strong>Sinatra</strong> too!
</p>
<ul>
    <li>Basics of ORM: What is It ?</li>
    <li>Introduction to Active Record, conventions and rules</li>
    <li>What is Schema ?</li>
    <li>What is Model ?</li>
    <li>What is Migration ?</li>
    <li>Data validation</li>
    <li>Prepare your app for integration</li>
    <li>Active Record related Rake tasks</li>
    <li>Fat Model - Skinny Controller</li>
    <li>CRUD with Active Record</li>
    <li>Querying database</li>
    <li>Model relations, building and querying related objects</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>We&rsquo;ll build a blog application and deploy It to Heroku!</li>
</ul>
