<% 
title = "Building Basic Rack Application"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>
<p class="is-size-4">
    Build Ruby web apps with Rack!
</p>
<ul>
    <li>Understanding http</li>
    <li>What is Rack? How It works ?</li>
    <li>What is Rack Middleware ?</li>
    <li>What are the Rack&rsquo;s layers ?</li>
    <li>How to protect http requests ?</li>
    <li>Handling http methods</li>
    <li>Let&rsquo;s build custom Rack extension!</li>
    <li>How to deploy Rack application ?</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>We&rsquo;re going to build a <strong>Guestbook</strong> app</li>
</ul>
