<% 
title = "Git 101: Git for everyone!"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>

<p class="is-size-4">
    Day to day basic usage of <code>git</code> from command-line!
</p>
<ul>
    <li>How to install <code>git</code> to most common operating systems</li>
    <li>What is <code>git</code> configuration ?</li>
    <li>What is <strong>repository</strong> ?</li>
    <li>What is <code>commit</code> ?</li>
    <li>Working with files, making changes and un/tracking revisions</li>
    <li>Isolation some file types</li>
    <li>What is <code>branch</code> ?</li>
    <li>What is <code>merge</code> ? What kind of merging does <code>git</code> provides ?</li>
    <li>What is conflict ? How can we resolve conflicts ?</li>
    <li>What is <code>stash</code>, <code>tag</code> ?</li>
    <li>Undo, <code>reset</code>, <code>amend</code> and <code>revert</code> features</li>
    <li>What are git aliases ? Let&rsquo;s make our own!</li>
    <li>Call shell commands from config files!</li>
    <li>Log operations, searching files, messages etc...</li>
    <li><code>git</code> keeps everything at least <strong>90</strong> days!</li>
    <li>Working with remotes</li>
    <li>Basics of git platforms: GitHub, Gitlab and Bitbucket</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>Git cheat-sheet</li>
</ul>
