---
title: Training
---

<section class="section training-main">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <div class="content">
                    <h1 class="headline"><span>Boost your <strong>development</strong> knowledge and <strong>coder</strong> skills!</span></h2>
                    <h3 class="is-hidden-mobile">
                        <span>
                            Every course includes special <strong>git-repo</strong> access,<br />
                            <strong>pdf documents</strong> and <strong>video</strong> recordings of session!
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<%
anchors = [
    'Golang', 
    'Django', 
    'Python',
    'Flask',
    'Ruby', 
    'Git', 
    'Bash', 
    'DevOps',
    # 'JavaScript',
]
%>

<section class="section py-1 has-background-color-vb" id="top">
    <div class="container">
        <nav class="level">
            <div class="level-left is-hidden-mobile">
                <%
                anchors.each do |title|
                    content_tag :div, :class => "level-item is-size-7-mobile" do
                        concat link_to "#{title}", "##{title.downcase}-training", :title => "#{title} Training"
                    end
                end
                %>
            </div>
            <div class="level-left is-hidden-tablet">
                <div class="select is-fullwidth">
                    <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        <%
                        content_tag :option do
                            concat "Select training category"
                        end
                        anchors.each do |title|
                            content_tag :option, :value => "##{title.downcase}-training" do
                                concat "#{title} Training"
                            end
                        end
                        %>
                    </select>
                </div>
            </div>
        </nav>
        
    </div>
</section>

<%
anchors.each_with_index do |title,index|
    concat partial "partials/training/#{title.downcase}", :locals => { :zebra => index % 2 == 1 ? ' has-zebra-on': '' }
    # concat tag :hr unless anchors[index+1].nil?
end
%>

<% content_for :opengraph do %>
<meta property="og:title" content="vb YAZILIM" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vbyazilim.com/training/" />

    <meta property="og:image" content="https://vbyazilim.com/public/images/clip-macbook-pro.png" />
    <meta property="og:image:secure_url" content="https://vbyazilim.com/public/images/clip-macbook-pro.png" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="583" />

    <meta property="og:description" content="Training services of vb YAZILIM">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="vb YAZILIM" />
<% end %>
