---
title: Training
---

<section class="hero is-vb">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column" id="top">
                    <h1 class="title">Training</h1>
                    <h2 class="is-size-4 is-size-5-touch">Boost your <strong>development</strong> knowledge and <strong>coder</strong> skills!</h2>
                    <h2 class="subtitle mt-1-desktop mt-2-mobile is-size-6-touch">
                        Every course includes special <strong>git-repo</strong> access,
                        <span class="break-tablet"><strong>pdf</strong> documents and <strong>video</strong> recordings of session!</span>
                    </h2>
                </div>
                <div class="column is-4 is-hidden-mobile">
                    <div class="zoomable"><%= image_tag "clip-macbook-pro.png", class: 'no-shadow' %></div>
                </div>
            </div>
        </div>
    </div>
</section>

<%
anchors = [
    'Golang', 
    'Django', 
    'Python',
    'Flask',
    'Ruby', 
    'Git', 
    'Bash', 
    'DevOps',
    'JavaScript',
]
%>

<section class="section py-1 has-background-light">
    <div class="container">
        <nav class="level">
            <div class="level-left is-hidden-mobile">
                <%
                anchors.each do |title|
                    content_tag :div, :class => "level-item is-size-7-mobile" do
                        concat link_to "#{title}", "##{title.downcase}-training", :title => "#{title} Training"
                    end
                end
                %>
            </div>
            <div class="level-left is-hidden-tablet">
                <div class="select is-fullwidth">
                    <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        <%
                        content_tag :option do
                            concat "Select training category"
                        end
                        anchors.each do |title|
                            content_tag :option, :value => "##{title.downcase}-training" do
                                concat "#{title} Training"
                            end
                        end
                        %>
                    </select>
                </div>
            </div>
        </nav>
        
    </div>
</section>

<%
anchors.each_with_index do |title,index|
    concat partial "partials/training/#{title.downcase}", :locals => { :zebra => index % 2 == 1 ? ' has-zebra-on': '' }
    # concat tag :hr unless anchors[index+1].nil?
end
%>

<% content_for :opengraph do %>
<meta property="og:title" content="vb YAZILIM" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vbyazilim.com/training/" />

    <meta property="og:image" content="https://vbyazilim.com/public/images/clip-macbook-pro.png" />
    <meta property="og:image:secure_url" content="https://vbyazilim.com/public/images/clip-macbook-pro.png" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="583" />

    <meta property="og:description" content="Training services of vb YAZILIM">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="vb YAZILIM" />
<% end %>
