---
title: "hello world"
date: Jun 1, 2019 10:00
category: news
author: "Uğur Özyılmazel"
# published: false
---

Hello and welcome to our **first** official blog post!

READ_MORE

<%= image '2019-06-01-vbyazilim.jpg', img_class: 'mini-zoom' %>

I’m Uğur “vigo” Özyılmazel and I’m a software developer and founder of **vb
YAZILIM**. I’ve been writing code since the early 8-bit computer days.
I have a long running career for a 47 y/o developer. I’ve spend my last ~18
years with building web applications. Some of them were heavy, some of them
were super easy... At the end of day, they were all html outputted web sites.

I learned a lot while building sites, apps and related things such as
operating systems, databases, saas platforms and more... My journey started
with 6502 Assembly language... Yes, **Commodore 64** my first true <span class="icon"><i class="fas fa-heart"></i></span>.
Then 68000 Assembly language for coding demos, intros and games for **AmigA**...
I’m still using those awesome machines and there are still tons of new releases!

### Django

My curse, my gift... I’ve been building Django applications since 2008. I remember
the version I met `Django==0.96`. I witnessed the evolution of Django over the
years. It’s free and open source Python web-framework for everybody! I made
many web apps with PHP back-in days. First time I saw the Django Admin panel
and I crashed! I guess, that’s the most exciting feature! and very attractive...

I made couple hundred web apps with Django over the years. I was working in a
University and I injected Python to our team. Sometimes small-mini web sites,
sometimes huge, heavy apps... All done with Django...


### Polyglot

I heard this term from [Kenneth Reitz][kr]. He was Python overlord at [Heroku][heroku]
back in 2013. Yes, I’m also a polyglot programmer. This means, I know few other
programming languages too. I use Python, Ruby, Bash, AppleScript, sometimes
JavaScript (*not fan of It*) and little bit of Golang in my daily routine.

I’m very enthusiastic about learning new languages such as Swift, Rust.
Due to my oldskool background, I’ve never had a chance to code in compiled
languages such as C, C++. After Assembly, I’ve jumped straight to run-time,
script-ish languages such as ASP 3.0 (old, classic), PHP, Perl...

I meet Ruby in 2011 and that that was another ground breaking thing for me.
Blending my Python knowledge with Ruby opened my mind... I followed the
pioneers of the industry. How they write code ? What are their best practices ?
Yes, conventions are always over the configurations!

### What about vb YAZILIM ?

Founded in late 2013. Mostly known from smashing hit conferences between 2013
- 2015. We tried to help and support open-source related movements and
activities. We were two times sponsor of [Rails Girls][rgi] Istanbul and Ankara,
[Özgür Web Teknolojileri Günleri][owg] 2013, Rails Girls Summer of Code 2014,
[Jstanbul Meetup][jsm] and [PHP İstanbul][phpist]

Highly focused on heavy Django application development and weekend
training sessions. It’s been six years and finally I’ve managed to find
enough time to re-design, re-build my humble company website.

I’ll publish mostly development related articles, examples, reviews and
same sort of topics here in my company website.

Keep following **vb YAZILIM**, get in touch !


[kr]: https://www.kennethreitz.org
[heroku]: https://heroku.com
[rgi]: http://railsgirls.com/
[owg]: https://ozgurwebgunleri.org.tr/2013/
[jsm]: https://www.meetup.com/jstanbul/
[phpist]: https://www.meetup.com/IstanbulPHP/
