<% 
title = "Docker&rsquo;a Giriş, Docker 101"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Uygulamanızı konteyner içinde çalıştırmak! Merhaba <strong>Docker</strong>
</p>
<ul>
    <li>Docker motoru nedir?</li>
    <li><strong>Image</strong> ve <strong>container</strong> nedir?</li>
    <li><code>Dockerfile</code> nedir?</li>
    <li>Çevre değişenleri, parametre geçmek</li>
    <li>Bir imajdan <strong>container</strong> üretmek</li>
    <li><strong>Volume</strong> nedir? Kalıcı veri oluşturmak</li>
    <li>Volume&rsquo;leri container&rsquo;lar arasında paylaşmak</li>
    <li><strong>Docker Compose</strong> nedir?</li>
    <li><strong>Python</strong> uygulamasını <strong>dockerize</strong> edelim!</li>
    <li><strong>Golang</strong> uygulamasını <strong>dockerize</strong> edelim!</li>
</ul>
