<% 
title = "Kendi Vagrant Box&rsquo;ını Yap!"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Bazen kendi ihtiyacınıza uygun bir <strong>Vagrant Box</strong>&rsquo;a ihtiyacınız
    olabilir!
</p>
<ul>
    <li>VirtualBox sağlayıcısını ayarlamak</li>
    <li>VirtualBox&rsquo;ı detaylı konfigüre etmek</li>
    <li>Özelleştirilmiş <strong>Ubuntu box</strong> yapalım!</li>
    <li>Özelleştirilmiş box için ilk <strong>provisioning</strong></li>
    <li>Network ve diğer cihaz ayarları</li>
    <li>Yeni oluşturulan box&rsquo;ın kurulumu</li>
    <li>Box&rsquo;ın güncellenmesi ve bakımın sağlanması</li>
    <li>Vagrant host/guest ipuçları</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>Oluşturduğumuz box&rsquo;ın içinden <code>nginx</code> web sunucusu çalıştırmak</li>
</ul>
