<footer class="footer has-background-color-vb has-text-white">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <p><strong>vb YAZILIM</strong> - Uğur Özyılmazel</p>
                    <address>
                        Meşrutiyet Mah. Samanyolu sk. 11/7<br/>
                        34363 - Şişli / İstanbul<br/>
                        Türkiye<br/><br/>
                        <a href="tel:+905333774300"><span class="icon"><i class="fas fa-phone-square"></i></span>+90-(0)533-3774300</a><br/>
                        <a href="mailto:hello@vbyazilim.com"><span class="icon"><i class="fas fa-envelope-square"></i></span>hello@vbyazilim.com</a>
                    </address>
                </div>
            </div>
            <div class="column has-text-right-tablet footer-right-icons-tablet">
                <p>
                    <a title="GitHub repo of vb YAZILIM" target="_blank" href="https://github.com/vbyazilim">
                        <span class="icon is-medium">
                            <i class="fab fa-github-square fa-2x"></i>
                        </span>
                    </a>
                    <a target="_blank" href="https://twitter.com/vbyazilim">
                        <span class="icon is-medium">
                            <i class="fab fa-twitter-square fa-2x"></i>
                        </span>
                    </a>
                    <a target="_blank" href="https://linkedin.com/company/vbyazilim">
                        <span class="icon is-medium">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </span>
                    </a>
                </p>
                <p class="mt-1">
                    made with <a class="is-external-link" href="https://middlemanapp.com">Middleman</a><br/>
                    
                    <a class="is-external-link" href="https://www.ruby-lang.org">Ruby</a> 
                    <a class="is-external-link" href="https://sass-lang.com">Sass</a><br/>
                    
                    <a class="is-external-link" href="https://bulma.io">Bulma</a> 
                    <a class="is-external-link" href="https://fontawesome.com">Font Awesome</a><br/>

                    <a class="is-external-link" href="https://www.w3.org/TR/html/">HTML</a> 
                    <a class="is-external-link" href="https://www.w3.org/Style/CSS/">CSS</a> 
                    <a class="is-external-link" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> 
                </p>
                <p class="mt-1">hosted at <a class="is-external-link" href="https://pages.github.com">GitHub Pages</a></p>
            </div>
        </div>
    </div>
</footer>
