<section class="section">
    <div class="container">
        <nav class="level is-mobile">
            <div class="level-left">
                <div class="level-item">
                    <a href="/tr/" title="Anasayfa"><%= image_tag "vb-yazilim-logo.svg", class: 'vb-logo' %></a>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item"><a title="Ana Sayfa" href="/"<%= is_active('/tr/') %>>Ana Sayfa</a></div>
                <div class="level-item"><a title="Eğitimler" href="/tr/egitimler/"<%= is_active('/tr/egitimler/') %>>Eğitimler</a></div>
                <div class="level-item"><a title="English" href="/">English</a></div>
            </div>
        </nav>
    </div>
</section>
