<section class="section py-1 has-background-light">
    <div class="container">
        <nav class="level is-mobile">
            <div class="level-left">
                <div class="level-item is-size-7-mobile"><a href="/tr/e-dukkan/kullanim-sartlari/" title="Kullanım Şartları">Kullanım Şartları</a></div>
                <div class="level-item is-size-7-mobile"><a href="/tr/e-dukkan/geri-odeme-politikasi/" title="Geri Ödeme Politikası">Geri Ödeme Politikası</a></div>
                <div class="level-item is-size-7-mobile"><a href="/tr/e-dukkan/gizlilik-politikasi/" title="Gizlilik Politikası">Gizlilik Politikası</a></div>
            </div>
        </nav>
    </div>
</section>
