---
title: Gizlilik Politikası
layout: layout-tr
language: tr
---

<section class="hero is-vb">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Gizlilik Politikası</h1>
        </div>
    </div>
</section>

<%= partial 'partials/store_required_tr', locals: {} %>

<section class="section has-white-background mobile-only first">
    <div class="container">

        <div class="columns">
            <div class="column is-12-desktop pt-0">
                <div class="content">
                    Gizlilik Politikası
                </div>
            </div>
        </div>

    </div>
</section>
