<% 
title = "Flask 101"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>

<p class="is-size-4">
    Did you know that the Flask was born from April Fools joke in 2010?
    It&rsquo;s great for building simpler web apps and prototypes on Python.
</p>
<ul>
    <li>Introduction to <code>app</code> aka Flask app</li>
    <li>What is routing? Flask views aka handlers</li>
    <li>Flask <code>request</code> payload for incoming http</li>
    <li>Routing with name matchers and regexes + type safety</li>
    <li>Rendering a template and understanding <code>context</code></li>
    <li>Template inheritance and introduction to <strong>Jinja</strong></li>
    <li>Handling basic html forms, <code>redirect</code> and url routing</li>
    <li>Uploading and saving files</li>
    <li><code>make_response</code> and cookie basics</li>
    <li>How <code>flash</code> messages work?</li>
    <li>How to deploy Flask app ?</li>
</ul>
