<% 
title = "Basic API Design with Flask"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>

<p class="is-size-4">
    We are going to build and deploy a web <strong>RESTful</strong> API aka a
    micro-service from scratch! Let&rsquo;s build a retro computer game
    database!
</p>
<ul>
    <li>Quick introduction to <strong>REST API</strong> design philosophy</li>
    <li>Decide and create data models</li>
    <li>Decide and design REST endpoint URLS aka <strong>resources</strong></li>
    <li>What is ORM? Introduction to <strong>SQLAlchemy</strong></li>
    <li>Fixtures and migration basics</li>
    <li>Establish CRUD functionality for initial resources</li>
    <li>Introduction to <code>Blueprint</code> and <code>Api</code></li>
    <li>Authentication and Authorization basics</li>
    <li>Basic HTTP auth vs HTTP Token auth</li>
    <li>Consume our little API from command-line via <code>curl</code> and <code>httpie</code></li>
    <li>Dockerize the API and deploy!</li>
</ul>
