<% 
title = "Python 101"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>

<div class="box">
    <div class="video-responsive">
        <iframe src="https://player.vimeo.com/video/523397052?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Python 101.mp4"></iframe>
    </div>
</div>

<p class="is-size-4">
    Introduction to Python programming language. We&rsquo;ll cover
    latest <strong>Python</strong> version <code>3.9+</code>
</p>
<ul>
    <li>Coding format and standards</li>
    <li>Python syntax</li>
    <li>Delimiters, operators</li>
    <li>What is <code>Object</code></li>
    <li>What is <code>method</code></li>
    <li>Variable and assignment</li>
    <li>Built-in data types: <code>Booleans</code>, <code>Numbers</code>, <code>Nones</code></li>
    <li>Sequences: <code>Strings</code>, <code>Lists</code>, <code>Tuples</code></li>
    <li>Generators, Generators Expressions</li>
    <li>Arithmetic operators</li>
    <li><code>Sets</code> and <code>Dictionaries</code></li>
    <li>Functions and Scope concept</li>
    <li>Lambda Expressions</li>
    <li>Control statements and conditions</li>
    <li>Loops, Iterators and Iterable elements</li>
</ul>
