<% 
title = "Python Development Environment"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>

<p class="is-size-4">
    You need some tools to write better Python code. What are those?
</p>
<ul>
    <li>Installing Python with version management</li>
    <li>Choosing a Text Editor IDE ?</li>
    <li>Configuring code writing tool to output <strong>A-GRADE</strong> Python code</li>
    <li>Helper packages for formatting and linting</li>
    <li>Extensions for most common editors such as TextMate, VS Code, Atom, Sublime, vim, emacs...</li>
</ul>
