<% 
title = "Python Version Management"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>
<p class="is-size-4">
    There are lot&rsquo;s of Python versions around. How can we organize
    project based Python version?
</p>
<ul>
    <li>Understanding the <code>PYTHONPATH</code></li>
    <li>Introduction to <code>pyenv</code></li>
    <li>Installing <code>pyenv</code> to macOS, GNU Linux and Windows</li>
    <li>Managing virtual environments with <code>pyenv</code></li>
    <li>Other version management tools?</li>
</ul>
