<% 
title = "Django Class-Based Views"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>
<p class="is-size-4">
    This is introductory level of Class-Based View usage in a Django
    application.
</p>
<ul>
    <li>Understanding Mixins and MRO</li>
    <li>Introduction to Generic Views</li>
    <li>Detailed inspection of Views and their MRO</li>
    <li>Blending different views together!</li>
    <li>Decorator usage</li>
    <li>Data validation</li>
    <li>Ajax and Class-Based Views</li>
</ul>
