<% 
title = "Django and Authentication"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>
<p class="is-size-4">
    Sometimes you need to authenticate users via different service backend
    such as <strong>LDAP</strong> or any custom service.
</p>
<ul>
    <li>Built-in authentication mechanisms</li>
    <li>Writing custom authentication backend</li>
    <li>What is Remote User?</li>
    <li>Accessing 3<sup>rd</sup> party providers such as LDAP</li>
    <li>What about social auth? Twitter, Facebook, GitHub etc?</li>
    <li>What about Token authentication? </li>
</ul>
