<% 
title = "Django Testing"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>
<p class="is-size-4">
    <strong>T</strong>est <strong>D</strong>riven <strong>D</strong>evelopment
    is the key of building better and rock solid applications!
</p>
<ul>
    <li>How to design your tests?</li>
    <li>What external libraries should you use?</li>
    <li>How to build testing pipeline?</li>
    <li>What to test? what to mock?</li>
    <li>Unit tests or integration tests?</li>
    <li>How to maintain tests?</li>
    <li>How to speed up your tests?</li>
</ul>