<% 
title = "Django 101"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>
<p class="is-size-4">
    You can build/develop web applications super fast with Django web
    application framework. Also batteries are included!
</p>
<ul>
    <li>Setting up Django development environment</li>
    <li>What is <strong>Django Project</strong> ?</li>
    <li>What is <strong>Django Application</strong> ?</li>
    <li>Django project structure</li>
    <li>Isolation of development, test, staging and production environments</li>
    <li>What is Django Model ?</li>
    <li>What is migration ?</li>
    <li>What is Django ORM ?</li>
    <li>Introduction to Django shell</li>
    <li>Model-Template-View approach</li>
    <li>Routing, URL dispatcher</li>
    <li>What are to goodies shipped with Django ?</li>
    <li>Built-in Django function, models, helpers</li>
    <li>Basics of Django Admin</li>
    <li>Basics of Authorization and Authentication</li>
    <li>Quicklook: Function-based views</li>
    <li>Quicklook: Class-based views</li>
    <li>Swiss army-knife of Django: Django Debug Toolbar and Django Extensions</li>
    <li>Integration 3<sup>rd</sup> party packages</li>
    <li>Basics of deployment, let&rsquo;s deploy to <a class="is-external-link" href="https://heroku.com">Heroku</a></li>
</ul>

<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>We&rsquo;ll build a small app like GitHub&rsquo;s <a class="is-external-link" href="https://gist.github.com/">Gist</a></li>
    <li>We&rsquo;ll integrate markdown parser, syntax highlighter and more...</li>
</ul>
