<% 
title = "Advanced Django"
anchor = "#{title.to_url}-course" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor %></h4>
<p class="is-size-4">
    We&rsquo;ll dive in to more advanced topics, reveal the hidden gems of
    Django...
</p>
<ul>
    <li>Class-based views in detail</li>
    <li>Multi-table inheritance</li>
    <li>What is Proxy model ?</li>
    <li>What is Polymorphic relation ?</li>
    <li>What is Generic relation ?</li>
    <li>Custom Managers, Querysets</li>
    <li>ORM performance and optimization</li>
    <li>Debug in View! or in shell ?</li>
    <li>What are Mixins ?</li>
    <li>Data migration, pre-defined data providing, writing custom migrations</li>
    <li>Built-in Signals, custom signals</li>
    <li>Custom Users, custom User admin and more...</li>
    <li>Localization aka <strong>I18N</strong>, Timezone aware data in the wild!</li>
    <li>Permissions</li>
    <li>PostgreSQL specific features</li>
    <li>Intermediate Django Admin customization</li>
    <li>Intermediate Django Admin widgets</li>
    <li>Intermediate Django Forms</li>
    <li>Custom management commands</li>
    <li>Custom template tags and filters</li>
    <li>Overriding Django classes in the right way</li>
    <li>Testing views, admin site</li>
    <li>Test tricks, mocking, mocking with <code>vcrpy</code></li>
    <li>Caching... What are options ?</li>
    <li>Advanced logging, custom loggers, formatters etc...</li>
</ul>
