<h4>Bash 101</h4>
<p>Bash is an open-door to Kernel! Every *NIX bases operating systems have a shell entrance!</p>
<ul>
    <li>Variables and environment</li>
    <li>Built-in commands</li>
    <li>Profile, settings and configurations</li>
    <li>Calling a shell command, getting help about It!</li>
    <li>Permissions, users, groups and others</li>
    <li>Files, inspection and analyze</li>
    <li>Syntax</li>
    <li>META characters, parenthesis expressions, quoting</li>
    <li>Command formation, chaining/piping commands</li>
    <li>File descriptors, IO redirection and PIPE</li>
    <li>Standard IN/OUT/ERR</li>
    <li>Data types, arithmetical expressions</li>
    <li>Functions, conditions and loops</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>Anatomy of a Bash completion</li>
    <li>I18N and localization examples</li>
</ul>
