<h4>Make your own Vagrant Box</h4>
<p>Sometimes you need your own box to play with. Now It&rsquo;s time to build your vagrant os box!</p>
<ul>
    <li>Setting up VirtualBox provider</li>
    <li>Configuring VirtualBox in detail</li>
    <li>Building custom Ubuntu box (<em>latest edition</em>)</li>
    <li>Initial provisioning for custom box</li>
    <li>Network and other devices configurations</li>
    <li>Install newly built box</li>
    <li>Maintain you own box for future upgrades</li>
    <li>Vagrant host/guest tips and tricks</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>NGINX server setup and integration to custom box</li>
</ul>
