<h4>Introduction to Docker</h4>
<p>Let&rsquo;s build and ship our apps with <a class="is-external-link" href="https://docker.com">Docker</a></p>
<ul>
    <li>What is Docker engine ?</li>
    <li>Docker images vs containers</li>
    <li>What is <code>Dockerfile</code> ?</li>
    <li>Environment variables, passing arguments</li>
    <li>How to create container from image?</li>
    <li>What is Volume ? How to persist data ?</li>
    <li>Sharing volumes amongst containers</li>
    <li>What is Docker Compose ?</li>
    <li>Lets dockerize our Python app</li>
    <li>Lets dockerize our Django app</li>
</ul>
