<h4>Django Deployment Workshop</h4>
<p>
    After watching <a class="is-external-link" href="https://jacobian.org">Jacob Kaplan-Moss</a>&rsquo; <a class="is-external-link" href="https://learning.oreilly.com/videos/django-deployment-workshop/9781449396442">Django Deployment Workshop</a> video from 
    O&rsquo;Reilly OSCON Conference, <strong>June 2010</strong>, We&rsquo;ve inspired to do soo!
</p>
<ul>
    <li>Provisioning Ubuntu OS&rsquo; (4 Vagrant instances)</li>
    <li>Setting up application servers, load balancers, databases</li>
    <li>Service and process management</li>
    <li><strong>Gunicorn</strong> approach</li>
    <li><strong>uWSGI</strong> approach</li>
    <li>PostgreSQL pooling</li>
    <li>Load balancing with <strong>NGINX</strong></li>
    <li>Distributed Django application infrastructure</li>
</ul>
