<h4>Django Tips and Tricks</h4>
<p>
    We&rsquo;ll cover performance issues, <strong>DO</strong>s and <strong>DON&rsquo;T</strong>s.
    Also, best practices from well-known Djangonauts
</p>
<ul>
    <li>Fat Model + Skinny Controller!</li>
    <li>ORM performance tips + new functions such as <code>Prefetch()</code> and more...</li>
    <li>Curated list of model tips, view tips and ORM tips</li>
    <li>Using transactions, preventing race-conditions</li>
    <li>Examples of built-in Query Expressions: <code>F()</code>, <code>Func()</code>, <code>Value()</code>, custom Aggregate functions and more...</li>
    <li>Creating custom lookups: <code>field__my_lookup=1</code></li>
    <li>What bulk operations are ?</li>
    <li>Who needs Elastic Search if you have <strong>PostgreSQL</strong> ? Search Vectors and more...</li>
    <li>Migration optimization. Always check what Django produced!</li>
    <li>All about Django Forms, hacking admin forms</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>Building apps faster then ever: <a class="is-external-link" href="https://github.com/vigo/django2-project-template">Django 2 Project Template</a></li>
</ul>
