<h4>Serving robust API with Django Rest Framework</h4>
<p>
    We&rsquo;ve already built the application. All we 
    need is <strong>DRF</strong> for API service!</p>
<ul>
    <li>What REST stands for ? What is It ?</li>
    <li>What DRF does to make your life easier ?</li>
    <li>What is <strong>Serialization</strong> ?</li>
    <li>Serializing Django models</li>
    <li>Basic <strong>CRUD</strong> operations</li>
    <li>Queries, pagination</li>
    <li>Security, authorization</li>
    <li>Routing principle</li>
    <li>Related models, queries</li>
    <li>Token authentication</li>
    <li>API load balancing, throttling, rate limits and more...</li>
</ul>
