<h4>Hacking the Django Admin</h4>
<p>
    Django shipped with awesome Admin features. Authors always mention that
    &ldquo;Admin site is for the developers only, not for clients!&rdquo;
    Let&rsquo;s change that!
</p>
<ul>
    <li>Django 2.2 ships with awesome features: Autocompletion for FK and M2M</li>
    <li>Custom autocomplete views</li>
    <li>Dive into <code>django.contrib.admin</code></li>
    <li>Let&rsquo;s build our custom <code>BaseModelAdmin</code></li>
    <li>Permission/Group based admin displays</li>
    <li>Permission/Group based admin forms</li>
    <li>Forms with fake fields</li>
    <li>Custom Inline Formsets, custom initial data and more...</li>
    <li>Working with calculated fields in Admin</li>
    <li>Custom admin filters</li>
    <li>Overriding change lists, change forms, injecting extra items!</li>
    <li>Dashboard view</li>
    <li>Soft deletion, versioning data</li>
    <li>Handling large databases in Admin</li>
    <li>Using built-in admin widgets for good!</li>
    <li>Injecting JavaScript flavor to Admin</li>
</ul>
