<h4>Advanced Git</h4>
<p>We&rsquo;ll dive deep in to amazing world of <code>git</code>.</p>
<ul>
    <li>Intermediate inspection of git config file</li>
    <li>How to compress files</li>
    <li>What is <strong>merge commit</strong> ?</li>
    <li>What is <strong>bundling</strong> ?</li>
    <li>Getting shallow copy of a repo</li>
    <li>Interactive add, patching and rebasing</li>
    <li>How stash works ? Basic tips for better stashing</li>
    <li>Solving <code>rebase</code> and <code>stash</code> conflicts</li>
    <li>Pick any commit via <code>cherry-pick</code></li>
    <li>Browse revisions from command-line</li>
    <li>Detailed <code>diff</code> operations</li>
    <li>Split and join commits</li>
    <li>Changing orders commits</li>
    <li>Bug hunting with <code>bisect</code></li>
    <li>Modify any/all commit repo-wide</li>
    <li>Sign your commits/tags with GPG</li>
    <li>Commit annotations, notes</li>
    <li>Patching recipes</li>
    <li>Reflog and garbage collection</li>
    <li>Handy cli helper: <code>tig</code></li>
    <li>Build your own git extension: <a href="https://github.com/vigo/kommit" class="is-external-link">Kommit</a></li>
    <li>What are <code>git-hooks</code> ?</li>
    <li>More best practices, tips and work-flows</li>
</ul>
