<h4>Golang 101</h4>
<p>Introduction to Google&rsquo;s awesome Golang!</p>
<ul>
    <li>Anatomy of a go program: <code>main.go</code></li>
    <li>Basics of coding conventions and standards</li>
    <li>Package concept, private/public access logic</li>
    <li>Variables, assignments</li>
    <li>Pointers, references</li>
    <li>Type assertions, reflection</li>
    <li>Built-in data types: Numbers family, String, Slice, Map</li>
    <li>Function definitions, parameters, return types</li>
    <li>Conditionals, loops and more...</li>
    <li>What is <code>struct</code> ?</li>
    <li>What is <code>struct</code> method ?</li>
    <li>What is <code>interface</code> method ?</li>
    <li>Errors, panic, recover logic</li>
    <li>What is marshaling/unmarshaling ?</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>Standard library: <code>io</code> package examples</li>
    <li>Standard library: <code>net/http</code> package examples</li>
</ul>
