<h4>Golang 102</h4>
<p>We are going to focus on more complicated topics for building go apps.</p>
<ul>
    <li>What is go tool chain ?</li>
    <li>Linting, checking and vetting go code</li>
    <li>Why <code>interface</code> defines behavior ?</li>
    <li>Satisfying interface methods and behaviors</li>
    <li>Creating and testing go packages and modules</li>
    <li>Create detailed package documentation with <code>godoc</code></li>
    <li>Create presentations like a gopher!</li>
    <li>What are Goroutines ?</li>
    <li>What are channels ?</li>
    <li>Designing tests, examples, benchmarks</li>
    <li>Detect memory leaks, race conditions and more with built-in go tools</li>
    <li>Mocking 3<sup>rd</sup> party services for better tests</li>
    <li>Useful external testing libraries and helpers</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>We&rsquo;ll build basic command-line http client for release!</li>
</ul>
