<h4>Python 102</h4>
<p>
    Entering the magical world of Object Oriented Programming aka <strong>OOP</strong> in Python!
    Are you ready for <code>Classes</code>, <code>Inheritance</code> and more?
</p>
<ul>
    <li>What is <code>Class</code> declaration ?</li>
    <li>What is <code>Base Class</code> ?</li>
    <li><code>Class</code> vs <code>Instance</code> and special methods</li>
    <li>What is method resolution order aka <strong>MRO</strong> and why It&rsquo;s important!</li>
    <li>What is <code>instance</code> ?</li>
    <li>What is <code>method</code>, <code>property</code> or <code>attribute</code> ?</li>
    <li>Getters, setters aka <strong>accessor</strong></li>
    <li>Decorators</li>
    <li>Object inspection</li>
    <li>Hidden methods in an Object</li>
    <li>What is method access level ? Pythonic approaches</li>
    <li>What is override, overload and <code>super</code> ?</li>
    <li>What is <code>Meta Class</code>, <code>Abstract Base Class</code> ?</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>We&rsquo;ll build TODO command-line app</li>
    <li>We&rsquo;ll pack our TODO app as Python package!</li>
</ul>
