<h4>Distributing Python Packages</h4>
<p>Python allows us to build and ship re-usable apps. Let&rsquo;s see that!</p>
<ul>
    <li>How to build a standard Python package ?</li>
    <li>Managing package dependencies</li>
    <li>What are the most common mistakes ?</li>
    <li>What is <strong>PyPI</strong> ?</li>
    <li>Maintaining a package on PyPI: new releases, updates etc...</li>
</ul>
