<h4>Testing Python App</h4>
<p>We&rsquo;ll discover built-in testing tools shipped with <strong>Python</strong>!</p>
<ul>
    <li>Basics of testing, idea behind testing philosophy</li>
    <li>What parts of the code should we test ?</li>
    <li>What is <code>Docstring</code> test ?</li>
    <li>Basics of <code>unittest</code></li>
    <li>What is <code>assertion</code> ?</li>
    <li>Overview: 3<sup>rd</sup> party testing libraries</li>
</ul>
