<h4>Python 101</h4>
<p>
    Introduction to Python programming language. We&rsquo;ll cover
    latest <strong>Python</strong> version <code>3.7+</code>
</p>
<ul>
    <li>Coding format and standards</li>
    <li>Python syntax</li>
    <li>Delimiters, operators</li>
    <li>What is <code>Object</code></li>
    <li>What is <code>method</code></li>
    <li>Variable and assignment</li>
    <li>Built-in data types: <code>Booleans</code>, <code>Numbers</code>, <code>Nones</code></li>
    <li>Sequences: <code>Strings</code>, <code>Lists</code>, <code>Tuples</code></li>
    <li>Generators, Generators Expressions</li>
    <li>Arithmetic operators</li>
    <li><code>Sets</code> and <code>Dictionaries</code></li>
    <li>Functions and Scope concept</li>
    <li>Lambda Expressions</li>
    <li>Control statements and conditions</li>
    <li>Loops, Iterators and Iterable elements</li>
</ul>
