<h4>Python Development Environment</h4>
<p>You need some tools to write better Python code. What are those?</p>
<ul>
    <li>Installing Python with version management</li>
    <li>Choosing a Text Editor IDE ?</li>
    <li>Configuring code writing tool to output <strong>A-GRADE</strong> Python code</li>
    <li>Helper packages for formatting and linting</li>
    <li>Extensions for most common editors such as TextMate, VS Code, Atom, Sublime, vim, emacs...</li>
</ul>
