<h4>It&rsquo;s not a <code>Makefile</code> It&rsquo;s <code>Rakefile</code></h4>
<p>
    You can automate your daily tasks, common operations as-easy-as writing a Ruby code!
    Welcome to wonderful world of <code>Rakefile</code>
</p>
<ul>
    <li>Tribute to <a href="https://github.com/jimweirich" class="is-external-link">Jim Weirich</a></li>
    <li>Anatomy of a Rakefile, It&rsquo;s DSL</li>
    <li>Basic tasks</li>
    <li>Tasks with params</li>
    <li>Name spaces</li>
    <li>Multi tasks</li>
    <li>Rules</li>
    <li>Built-in tasks</li>
    <li><code>File</code>, <code>FileList</code> and <code>Directory</code> features</li>
    <li>Global / local tasks</li>
    <li>3<sup>rd</sup> party Rake extensions</li>
    <li>Real-life examples</li>
</ul>
