<h4>Ruby 101</h4>
<p>
    Ruby has the easiest learning curve comparing to other programing languages.
    Let&rsquo;s dive right in to easy and elegant world of <strong>Ruby</strong>!
</p>
<ul>
    <li>How Ruby works ?</li>
    <li>Ruby syntax</li>
    <li>Interactive shell aka REPL: <code>irb</code></li>
    <li>Pre-defined variables, variables, pseudo variables</li>
    <li>Operators, constants</li>
    <li>Methods, blocks, proc and lambda notions</li>
    <li>Conditions, control statements</li>
    <li>Enumeration, iterators, loops and more...</li>
    <li>Built-in data types</li>
    <li>Object Oriented Ruby: <code>Class</code> and <code>Modules</code></li>
    <li>Exception handling</li>
    <li>Quicklook: File system, IO and Kernel module</li>
    <li>Basics of Rubygems</li>
</ul>
