<h4>Making Static sites with Middleman</h4>
<p>
    At the end of the day, all we need is a bunch of html files to run a website right ?
    Let&rsquo;s build It!
</p>
<ul>
    <li>What is static website ?</li>
    <li>What is Middleman ?</li>
    <li>What are the built-in components ?</li>
    <li>Html templating, template helpers, renderers</li>
    <li>Assets pipeline</li>
    <li>Data automation</li>
    <li>Multi language web sites</li>
    <li>Integration with 3<sup>rd</sup> party services</li>
    <li>Deploy Middleman app via <strong>GitHub Pages</strong></li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>We&rsquo;re going to build an e-commerce application</li>
</ul>
