<h4>Ruby and TDD 101</h4>
<p>
    Ruby is a test-first programming language. Let&rsquo;s
    take a look at built-in testing tools.
</p>
<ul>
    <li>Introduction to testing, importance</li>
    <li>What are built-in test helpers and tools ?</li>
    <li>What are testing kinds ?</li>
    <li>Mocking, stubbing, test doubles notions</li>
    <li>What is <strong>Minitest</strong> ?</li>
    <li>Quicklook: What is <strong>Rspec</strong> ?</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>We&rsquo;ll build command-line bookmark saving tool</li>
</ul>
