<h4>How to make gem file ?</h4>
<p>Ruby gem is a package contains tools, helpers, sometimes frame-works. 
    Ship and deploy re-usable code with Rubygems!
</p>
<ul>
    <li>What is Bundler ?</li>
    <li>Create gem template with Bundler</li>
    <li>Managing manifest files, revisions, releases</li>
    <li>Gem development environment and dependencies</li>
    <li>Extensible gem development</li>
    <li>Publish your gem to Rubygems!</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>We&rsquo;re going to build GitHub Issue tracker!</li>
</ul>
