<% 
title = "Bash ile Komut-satırı Uygulaması"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Bash sadece bir betik dili değil, uygulama geliştirme hatta web sunucusu
    bile yapma imkanı veren bir araç!
</p>
<ul>
    <li>Komut satırı argümanlarını çözümlemek</li>
    <li>Bash tarzıyla hata ve <strong>exceptions</strong> yakalama</li>
    <li><strong>Linting</strong> ve kod kontrolü</li>
    <li>Bash kodunu test etmek!</li>
    <li>Lokalizasyon ve otomatik tamamlama eklemek</li>
    <li>Uygulamanıza <strong>Man pages</strong> eklemek</li>
    <li><a href="https://brew.sh" class="is-external-link">brew</a> için bash paketi oluşturmak</li>
    <li><code>homebrew</code> üzerinden paketi dağıtmak</li>
</ul>

<h5 class="mt-2-desktop">Uygulama</h5>
<ul>
    <li>Basit bir CLI uygulamasını kendi repomuzdan <code>brew tap</code> ile sunuyoruz!</li>
</ul>
