<% 
title = "Bash 101"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Bash, işletim sisteminin çekirdeğine açılan bir kapı! Bu kapıdan
    içeri girmeye hazır mısınız?
</p>
<ul>
    <li>Değişkenler ve ortam (<em>environment</em>)</li>
    <li>Tümleşik gelen komutlar</li>
    <li>Profil, ayarlar ve konfigürasyonlar</li>
    <li><strong>Shell</strong> komutlarını çağırmak, komut hakkında yardım almak</li>
    <li>İzinler, kullanıcılar ve gruplar</li>
    <li>Dosyaları incelemek ve analiz etmek</li>
    <li>Söz dizimi: <strong>syntax</strong></li>
    <li><strong>META</strong> karakterler, parantez ifadeleri ve tırnak işaretleri</li>
    <li>Komut formasyonu, zincirleme ve aktarma</li>
    <li>Dosya açıklayıcıları, giriş/çıkış yönlendirme ve <strong>PIPE</strong></li>
    <li>Standart giriş, çıkış ve hata kanalı</li>
    <li>Veri tipleri ve aritmetik ifadeler</li>
    <li>Fonksiyonlar, durum kontrolleri ve döngüler</li>
    <li>Otomatik tamamlama: <strong>Bash completion</strong></li>
</ul>

<h5 class="mt-2-desktop">Uygulama</h5>
<ul>
    <li>Bash completion anatomisi</li>
    <li>Çoklu dil desteği veren uygulama geliştirmek</li>
</ul>
