---
title: E-Dükkan
layout: layout-tr
language: tr
---

<section class="hero is-vb">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">E-Dükkan</h1>
            <h2 class="subtitle">
                Elektronik kitaplarımız ve eğitimlerimiz
            </h2>
        </div>
    </div>
</section>

<%= partial 'partials/store_required_tr', locals: {} %>

<section class="section has-white-background mobile-only first">
    <div class="container">

        <div class="columns">
            <div class="column is-8-desktop pt-0">
                <div class="content">
                    <h3>Go Programlama (e-kitap)</h3>
                    <p class="is-size-4">
                        Go programlama dili öğrenerek profesyonel sunucu uygulamaları geliştirin.
                        <strong>pdf</strong> ve <strong>epub</strong> formatında hazırlanmış bu e-kitap 
                        sayesinde go kullanarak <strong>prodüksiyon</strong> kalitesinde uygulama geliştirme
                        pratiklerini de anlatıyor.
                    </p>
                    <p class="is-size-5">
                        Terminal’i her açtığımızda ya da ssh ile uzaktaki makineye her bağlanızda, aslında, ~/.bash_profile dosyası bizi karşılıyor.
                    </p>
                </div>
            </div>
            <div class="column is-4-desktop pt-0">
                <div class="content">
                    cover
                </div>
            </div>
        </div>

    </div>
</section>
