---
title: Eğitimler
layout: layout-tr
---

<section class="section training-main">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <div class="content">
                    <h1 class="headline">
                        <span>
                            Geliştirici <strong>bilginizi</strong> yükseltebilir ve daha yetkin
                            programcı <strong>yeteneklerine</strong> sahip olabilirsiniz!
                        </span>
                    </h2>
                    <h3 class="is-hidden-mobile">
                        <span>
                            Tüm eğitimlerin sonunda, <strong>kaynak kod repoları</strong>, eğitim <strong>pdf</strong> dökümanları <br />
                            ve <strong>video</strong> kayıtları sağlanmaktadır.
                        </span>
                    </h3>
                </div>
            </div>
            <div class="column is-4 is-hidden-mobile">
                <div class="zoomable"><%= image_tag "clip-macbook-pro.png", class: 'no-shadow' %></div>
            </div>
            
        </div>
    </div>
</section>

<%
anchors = [
    'Golang', 
    'Django',
    'Python',
    'Flask',
    'Ruby',
    'Git',
    'Bash',
    'DevOps',
    # 'JavaScript',
]
%>


<section class="section py-1 has-background-color-vb" id="top">
    <div class="container">
        <nav class="level">
            <div class="level-left is-hidden-mobile">
                <%
                anchors.each do |title|
                    content_tag :div, :class => "level-item is-size-7-mobile" do
                        concat link_to "#{title}", "##{title.downcase}-training", :title => "#{title} Eğitimi"
                    end
                end
                %>
            </div>
            <div class="level-left is-hidden-tablet">
                <div class="select is-fullwidth">
                    <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        <%
                        content_tag :option do
                            concat "Eğitim kategorisi seçin"
                        end
                        anchors.each do |title|
                            content_tag :option, :value => "##{title.downcase}-training" do
                                concat "#{title} Eğitimi"
                            end
                        end
                        %>
                    </select>
                </div>
            </div>
        </nav>
        
    </div>
</section>

<%
anchors.each_with_index do |title,index|
    concat partial "partials/training/tr/#{title.downcase}", :locals => { :zebra => index % 2 == 1 ? ' has-zebra-on': '' }
end
%>

<% content_for :opengraph do %>
<meta property="og:title" content="vb YAZILIM" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vbyazilim.com/tr/egitimler/" />

    <meta property="og:image" content="https://vbyazilim.com/public/images/clip-macbook-pro.png" />
    <meta property="og:image:secure_url" content="https://vbyazilim.com/public/images/clip-macbook-pro.png" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="583" />

    <meta property="og:description" content="vb YAZILIM - Eğitimler">
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:site_name" content="vb YAZILIM" />
<% end %>
