<% 
title = "Flask ile API Geliştirmek"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Flask ile basit bir mikro-servis yapısı oluşturmak.
</p>
<ul>
    <li><strong>REST API</strong> tasarımı nedir?</li>
    <li>Veritabanı modellerinin planlaması</li>
    <li><strong>Endpoints</strong> ya da <strong>resources</strong> planlanması</li>
    <li><strong>ORM</strong> nedir? <strong>SQLAlchemy</strong>&rsquo;ye giriş</li>
    <li>Fixture nedir? <strong>migration</strong> nedir?</li>
    <li>CRUD nedir? CRUD operasyonları</li>
    <li><code>Blueprint</code> ve <code>Api</code> kavramları</li>
    <li>Authentication ve Authorization temelleri</li>
    <li><strong>Basic HTTP auth</strong> mu? Yoksa <strong>HTTP Token auth</strong> mu?</li>
    <li><code>curl</code> ya da <code>httpie</code> ile komut satırından API&rsquo;ı tüketelim!</li>
    <li>Uygulamayı Docker konteynerin içine koyup çalıştıralım!</li>
    <li>Uygulamayı <a class="is-external-link" href="https://heroku.com">Heroku</a>&rsquo;ya yükleyelim</li>
</ul>
<h5 class="mt-2-desktop">Uygulama</h5>
<ul>
    <li>Retro oyunlar satan online bir web API geliştiriyoruz!</li>
</ul>
