<% 
title = "Flask 101"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    2010 yılında <strong>1 Nisan şakası</strong> olarak çıkan, daha sonra hayatımıza giren,
    basit web uygulamaları, API sunucuları yapmaya yarayan Flask&rsquo;a
    giriş!
</p>
<ul>
    <li><code>app</code> nedir ? <code>Flask app</code> nedir?</li>
    <li><strong>Routing</strong> nedir? Flask view&rsquo;leri ya da <strong>handler</strong>&rsquo;ları</li>
    <li>Flask&rsquo;ın <code>request</code> nesnesi</li>
    <li>İsimden yakalamalı routing, regex ve güvenli tipler</li>
    <li>Template render etmek ve <code>context</code>&rsquo;i anlamak</li>
    <li>Template geçişme özelliği ve <strong>Jinja</strong> motoruna giriş</li>
    <li>Formlar, <code>redirect</code> ve url routing</li>
    <li>Upload ve dosya kaydetmek</li>
    <li><code>make_response</code> ve <strong>cookie</strong> temelleri</li>
    <li><strong>Messages</strong> yapısı ve <code>flash</code></li>
    <li>Flask uygulamasının sunucuda çalıştırılması (<em>deployment</em>)</li>
</ul>
