<%
courses_name = 'DevOps'
course_icon = 'fas fa-cogs'

course_anchor_id = "#{courses_name.downcase}-training"
courses = [
    'devops-introduction-to-docker',
    'devops-vagrant',
]
%>

<section class="section has-white-background training<%= zebra %>">
    <div class="container">

        <%= partial "partials/courses-tr", :locals => { 
            :course_anchor_id => course_anchor_id,
            :courses_name => courses_name,
            :course_icon => course_icon,
            :courses => courses,
        } %>

    </div>
</section>
