<%
courses_name = 'Ruby'
course_icon = 'fas fa-code'

course_anchor_id = "#{courses_name.downcase}-training"
courses = [
    'ruby-101',
    'ruby-sinatra-101',
    'ruby-tdd-101',
    'ruby-sinatra-active-record',
    'ruby-rack-app',
    'ruby-static-sites-mm',
    'ruby-gemfile-howto',
    'ruby-rakefile',
]
%>
<section class="section has-white-background training<%= zebra %>">
    <div class="container">
        
        <%= partial "partials/courses-tr", :locals => { 
            :course_anchor_id => course_anchor_id,
            :courses_name => courses_name,
            :course_icon => course_icon,
            :courses => courses,
        } %>

    </div>
</section>
