<section class="section cover has-background-color-vb-lighter">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <div class="content">
                    <h1 class="has-text-light">
                        We are software development, training and consultancy company.
                    </h1>
                    <h2 class="has-text-light">
                        We provide highly skilled <strong>Django</strong> application 
                        development, deployment and scaling services.
                    </h2>
                </div>
            </div>
            <div class="column is-hidden-mobile">
                <div class="columns">
                    <div class="column is-8 is-offset-4">
                        <div class="content">
                            <div class="zoomable"><%= image_tag "textmate-screen.png" %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section main has-white-background">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h3>Providing services since <strong>2013</strong></h3>
                    <p class="is-size-5">
                        Besides development and consultancy services, we&rsquo;ve organized many 
                        developer conferences, hackathons in <strong>Turkey</strong> and <strong>Austria</strong>.
                    </p>
                    
                    <h3>Area of expertise</h3>
                    <p class="is-size-5">
                        Building Django applications since <strong>2008</strong>. We are highly experienced
                        on <strong>Python</strong> and <strong>Ruby</strong> programming languages.
                        Following best development practices. We are mostly focused on <strong>backend</strong> development.
                    </p>
                    <h4>We love using and building <strong>UNIX</strong> tools!</h4>
                    <p>
                        <strong>Bash</strong> utilities, <strong>Ruby</strong> gems, <strong>Python</strong> packages and 
                        small tools written <strong>Golang</strong>!.
                        We use <code>git</code> for revision control to various deployment automation.
                    </p>
                    <p>
                        We use test-driven-development (<strong>TDD</strong>) philosophy in our projects.
                        Don&rsquo;t forget to check our <a class="is-external-link" href="/services/">services</a> page for more detailed information.
                    </p>
                    <h4>These keywords define us!</h4>
                    <div class="tags mb-1">
                    <%
                    keywords = [
                        'python', 'ruby', 'bash', 'golang', 'django', 'postgresql', 'redis', 'git', 'gentoo', 'ubuntu',
                        'api', 'docker', 'ci', 'cd', 'migration', 'training', 'tdd', 'grpc',
                        'scaling',
                    ]
                    keywords.each do |keyword|
                        content_tag :span, class: 'tag is-info' do
                            concat keyword
                        end
                    end
                    %>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-8 is-offset-4 has-background-white-bis">
                        <div class="vb-clients">
                            <div class="content">
                                <h3>Some of our clients</h3>
                            </div>
                            <ul class="vb-list">
                                <li><strong>İstanbul Bilgi University</strong><small>Django contrator and devOps</small></li>
                                <li><strong>Biges Güvenli Hayat Teknoloji</strong><small>Django contractor</small></li>
                                <li><strong>Hürriyet Newspaper, Web Team</strong><small>Training: python, git, unix, devops</small></li>
                                <li><strong>ING Bank, Turkey</strong><small>Hackathon organization</small></li>
                                <li><strong>Getir.com</strong><small>Hackathon organization</small></li>
                                <li><strong>Aslanoba</strong><small>Training, devops</small></li>
                                <li><strong>Cosmo Code</strong>, Germany<small>Django contractor</small></li>
                                <li><strong>PayU</strong><small>Training: python, django</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section has-white-background has-background-white-bis py-4-desktop">
    <div class="container">
        
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">

                <div class="content has-text-centered-desktop">
                    <h1 class="title">News Letter</h1>
                    <h2 class="subtitle has-text-color-vb-light">Upcoming training services, blog posts, job-hires and more...</h2>
                </div>
                <form action="https://vbyazilim.us17.list-manage.com/subscribe/post?u=6ca6a2723d4ffbb276487006d&amp;id=d7bf7310f7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="field has-addons has-addons-centered">
                        <p class="control has-icons-left has-icons-right is-expanded">
                            <input class="input is-medium" name="EMAIL" type="email" placeholder="Your email address">
                            <span class="icon is-small is-left"><i class="fas fa-envelope fa-xs"></i></span>
                        </p>
                        <p class="control">
                            <button class="button is-info is-medium has-text-weight-semibold" type="submit">Subscribe</button>
                        </p>
                    </div>
        
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6ca6a2723d4ffbb276487006d_d7bf7310f7" tabindex="-1" value=""></div>
                </form>

            </div>
        </div>
        
    </div>
</section>

<section class="section has-white-background mb-3">
    <div class="container">
        <div class="columns">
            <div class="column">
                <%= partial 'partials/latest_articles' %>
            </div>
            <div class="column is-4-desktop">
                <div class="content">
                    <h1 class="title has-text-color-vb">Past Events</h1>
                </div>
                <table class="table vb-conferences">
                    <thead>
                        <tr><th>Event</th><th>Location</th></tr>
                    </thead>
                    <tr><td><strong>Kod.io</strong> 2013, Developer Conference</td><td>İstanbul</td></tr>
                    <tr><td><strong>Kod.io</strong> 2014, Developer Conference</td><td>Linz</td></tr>
                    <tr><td><strong>Codefront.io</strong> 2014, Frontend Development Conference</td><td>Linz</td></tr>
                    <tr><td><strong>Failconf.io</strong> 2014, Startups</td><td>İstanbul</td></tr>
                    <tr><td><strong>Hack-ing.io</strong> 2014, ING Bank Hackathon</td><td>İstanbul</td></tr>
                    <tr><td><strong>jsist</strong> 2014, JavaScript Conference</td><td>İstanbul</td></tr>
                    <tr><td><strong>ING Bank Hackathon</strong> 2015</td><td>İstanbul</td></tr>
                    <tr><td><strong>Getir Hackathon</strong> 2015</td><td>İstanbul</td></tr>
                    <tr><td><strong>ING Bank Hackathon</strong> 2016</td><td>İstanbul</td></tr>
                    <tr><td><strong>Cracking the Interview</strong> 2018, with Bilgem Çakır</td><td>İstanbul</td></tr>
                </table>
                
            </div>
        </div>
    </div>
</section>


<% content_for :opengraph do %>
<meta property="og:title" content="vb YAZILIM" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vbyazilim.com/" />

    <meta property="og:image" content="https://vbyazilim.com/public/images/opengraph.jpg" />
    <meta property="og:image:secure_url" content="https://vbyazilim.com/public/images/opengraph.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:image:alt" content="Development, Training and Consultancy" />

    <meta property="og:description" content="We are software development, training and consultancy company. We provide highly skilled Django application development services.">
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:site_name" content="vb YAZILIM" />
<% end %>
