---
title: Development, Training and Consultancy
---

<section class="section cover">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <div class="content">
                    <h1>
                        <span>We are <strong>software</strong> training company!</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section main has-white-background">
    <div class="container">
        <div class="columns is-multiline is-variable is-8">
            <div class="column is-6-desktop is-full-tablet">
                <div class="content">
                    <h1 class="title">Welcome to <strong>vb YAZILIM</strong></h1>
                    <p class="is-size-4">
                        We provide programming language courses such as
                        <strong>Python</strong>, <strong>Ruby</strong>, <strong>Golang</strong>,
                        <strong>JavaScript</strong>, <strong>Bash</strong> for experts and beginners.
                    </p>
                    <p class="is-size-5">
                        Popular and well-known libraries such as
                        <strong>Django</strong>, <strong>Flask</strong>, <strong>Fast API</strong>, <strong>Django Rest Framework</strong>,
                        <strong>Ruby on Rails</strong>, <strong>Sinatra</strong>,
                        <strong>Fiber</strong>, <strong>Echo</strong> and
                        many other related dependencies and extensions.
                    </p>
                    <p>
                        Deployment (<em>cloud/bare metal</em>), continues integration, 
                        packaging, <strong>testing</strong>, 3<sup>rd</sup> party platforms, UNIX and Linux tools,
                        revision control with <strong>git</strong> and many more...
                    </p>
                    
                    <p>Visit our <a class="is-external-link" title="Visit our training courses" href="/training/">training</a> page for more</p>
                    
                    <div class="mt-4">
                        <p>Join our mailing list for upcoming courses and news:</p>
                        <form action="https://vbyazilim.us17.list-manage.com/subscribe/post?u=6ca6a2723d4ffbb276487006d&amp;id=d7bf7310f7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="field has-addons has-addons-centered">
                                <p class="control has-icons-left has-icons-right is-expanded">
                                    <input class="input" name="EMAIL" type="email" placeholder="Your email address">
                                    <span class="icon is-small is-left"><i class="fas fa-envelope fa-xs"></i></span>
                                </p>
                                <p class="control">
                                    <button class="button is-info has-text-weight-semibold" type="submit">Subscribe</button>
                                </p>
                            </div>
        
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6ca6a2723d4ffbb276487006d_d7bf7310f7" tabindex="-1" value=""></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column is-6-desktop is-full-tablet">
                <%= partial 'partials/latest_articles' %>
            </div>
        </div>
        
    </div>
</section>

<% content_for :opengraph do %>
<meta property="og:title" content="vb YAZILIM" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vbyazilim.com/" />

    <meta property="og:image" content="https://vbyazilim.com/public/images/opengraph.jpg" />
    <meta property="og:image:secure_url" content="https://vbyazilim.com/public/images/opengraph.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:image:alt" content="Development, Training and Consultancy" />

    <meta property="og:description" content="We are software development, training and consultancy company. We provide highly skilled Django application development services.">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="vb YAZILIM" />
<% end %>
