<% 
title = "Python Geliştirme Ortamı"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    İyi python kodu yazmak için bazı yardımcı araçlara ihtiyacınız olabilir.
</p>
<ul>
    <li>Versiyon yönetimi ile python kurulumu</li>
    <li>Metin editörü mü? Yoksa IDE&rsquo;mi?</li>
    <li><strong>A-GRADE</strong> python kodu yazmak için kod yazma aracınızı konfigüre etmek</li>
    <li><strong>Linting</strong> ve <strong>Formatting</strong> araçları</li>
    <li>TextMate, VS Code, Atom, Sublime, vim, emacs gibi araçlar için eklentiler neler?</li>
</ul>
