<% 
title = "Python 101"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>

<div class="box">
    <div class="video-responsive">
        <iframe src="https://player.vimeo.com/video/523397052?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Python 101 Demo"></iframe>
    </div>
</div>

<p class="is-size-4">
    Python programlama diline giriş.
</p>
<ul>
    <li>Kod yazma tarzı ve standartları</li>
    <li>Python söz dizimi (syntax)</li>
    <li>Ayırıcılar ve operatörler</li>
    <li><code>Object</code> nedir?</li>
    <li><code>method</code> nedir?</li>
    <li>Değişken ve atama nedir?</li>
    <li>Tümleşik gelen veri tipleri: <code>Booleans</code>, <code>Numbers</code>, <code>Nones</code></li>
    <li>Sıralılar: <code>Strings</code>, <code>Lists</code>, <code>Tuples</code></li>
    <li>Üreteçler ve ifadeleri</li>
    <li>Aritmetik operatörler</li>
    <li><code>Sets</code> ve <code>Dictionaries</code> tipleri</li>
    <li>Fonksiyon ve kapsam kavramları</li>
    <li>Lambda ifadeleri</li>
    <li>Kontrol ifadeleri ve durum kontrolleri</li>
    <li>Döngüler, yinelenebilirler</li>
</ul>
