<% 
title = "Python ve Test"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Python ile birlikte gelen test araçlarını inceliyoruz...
</p>
<ul>
    <li>Testin temelleri, test filozofisinin ardındaki fikir</li>
    <li>Kodun hangi kısımları test edilmeli</li>
    <li><code>Docstring</code> test nedir?</li>
    <li><code>unittest</code>&rsquo;in temelleri</li>
    <li><code>assertion</code> nedir?</li>
    <li>3. parti test kütüphaneleri hakkında genel bilgi</li>
</ul>
