<% 
title = "Python Versiyon Yönetimi"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Python versiyonu sürekli güncelleniyor. Siz bu hıza nasıl yetişeceksiniz?
</p>
<ul>
    <li><code>PYTHONPATH</code>&rsquo;i anlamak</li>
    <li><code>pyenv</code>&rsquo;e giriş</li>
    <li>Farklı işletim sistemlerine <code>pyenv</code> kurmak ve konfigüre etmek</li>
    <li>Sanal ortam (<em>virtual environment</em>) nedir?</li>
    <li><code>pyenv</code> ve <code>virtualenvwrapper</code></li>
    <li>Diğer python versiyon yönetim araçları neler?</li>
</ul>
