<% 
title = "Python 102"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>
<p class="is-size-4">
    Nesne yönelimli programlamaya merhaba! Sınıflar, miraslar ve dahası!
</p>

<ul>
    <li><code>Class</code> ifadesi nedir?</li>
    <li><code>Base Class</code> nedir?</li>
    <li><code>Class</code>, <code>Instance</code> ve özel metodlar</li>
    <li>Metod çözünme sırası yani <strong>MRO</strong> nedir? Neden önemlidir?</li>
    <li><code>instance</code> nedir?</li>
    <li><code>method</code>, <code>property</code> ve <code>attribute</code> kavramları</li>
    <li>Getters, setters ya da <strong>accessor</strong> nedir?</li>
    <li>Dökoratör fonksiyon nedir?</li>
    <li>Nesne teftişi: <strong>object inspection</strong></li>
    <li>Nesne içindeki gizli metodlar</li>
    <li>Metodlara erişim seviyesi nedir? Python konuya nasıl yaklaşır?</li>
    <li><strong>Override</strong>, <strong>Overload</strong> ve <code>super</code> kavramları</li>
    <li><code>Meta Class</code> ve <code>Abstract Base Class</code> nedir?</li>
</ul>
<h5 class="mt-2-desktop">Bonus</h5>
<ul>
    <li>Komut satırından çalışan bir <strong>TODO</strong> uygulaması geliştiriyoruz</li>
    <li>Uygulamayı <strong>python paketi</strong> haline getiriyoruz!</li>
</ul>
