<% 
title = "Python Paketi Oluşturmak"
anchor = "#{title.to_url}-egitimi" 
%>
<h4 id="<%= anchor %>"><%= copy_to_clipboard title, anchor, "tr" %></h4>

<div class="box">
    <div class="video-responsive">
        <iframe src="https://player.vimeo.com/video/589322243?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Python Packaging Demo"></iframe>
    </div>
</div>


<p class="is-size-4">
    Python bize tekrar tekrar kullanabilecek uygulama geliştirme ve
    dağıtma imkanı verir!
</p>
<ul>
    <li>Standart bir Python paketi nasıl yapılır?</li>
    <li>Paket içindeki bağımlılıkların yönetimi</li>
    <li>Paket için test kodu nasıl yazılır, yerelde test edilir?</li>
    <li>Sık yapılan hatalar nelerdir?</li>
    <li><strong>PyPI</strong> nedir?</li>
    <li>PyPI&rsquo;da paket yönetimi, yeni versiyon, güncelleme ve dahası...</li>
    <li>Paketleri özel/gizli (<strong>private</strong>) olarak sunmak</li>
</ul>
